body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1fr 50px;
    height: 100vh;
    width: 100vw;
}*/

.layout-login{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 1fr 200px;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    ". . . "
    ". login ."
    ". . . "
}

form{
    grid-area: login;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input[type="text"],input[type="password"],button{
    width: 100%;
}
input:required{
    background:red;
}

header{
    background-color: #9ABCA7;
}

nav{    
    background-color: #CEB7B3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section{
    background-color: #DBE9EE;
}

footer{
    background-color: #333232;
    color: white;
}

.layout-inicial{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 75px 1fr 50px;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    " header nav "
    " section section "
    " footer footer "
}