body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px;
    height: 1fr;
    width: 1fr;
    grid-template-areas:
    "header"
}

.layout-navsec{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    height: 77.2vh;
    width: 1fr;
    grid-template-areas:
    "nav section"
}

.layout-footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px;
    height: 1fr;
    width: 1fr;
    grid-template-areas:
    "footer"
}

header{
    background-color: #32a040;
    text-align: center;
}

nav{    
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section{
    margin: 2px;
    background-color: white;
    text-align: justify;

}

footer{
    background-color: #32a040;
    text-align: center;
}

form{
    text-align: center
}