body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    grid-template-areas: ". meio .";
    background-color: lightgreen;
}

.area{
    grid-area: meio;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.meio{
    display: flex;
    justify-content: space-around;
}

.t1, .t2{
    display: flex;
    margin: 5px;
}

.cabecalho, .fim{
    background-color:darkgreen;
    color: white;
}